#
# This systemd unit starts a apache2 instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=apache2 server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/apache2.pid %t/apache2.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/apache2.pid \
    --cidfile=%t/apache2.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=%S/www-data:/var/www/html:Z \
    --publish=127.0.0.1:${APACHE_PORT}:80 \
    ${PHP_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/apache2.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/apache2.ctr-id
PIDFile=%t/apache2.pid
Type=forking

[Install]
WantedBy=default.target
