#
# This systemd unit starts a asterisk instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Asterisk server
Requires=mariadb.service
After=mariadb.service


[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/asterisk.pid %t/asterisk.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/asterisk.pid \
    --cidfile=%t/asterisk.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=asterisk:/etc/asterisk:z \
    --volume=spool:/var/spool/asterisk:z \
    --volume=sounds:/var/lib/asterisk/sounds:Z \
    --volume=agi-bin:/var/lib/asterisk/agi-bin:Z \
    --volume=/dev/log:/dev/log \
    --env=ASTMANAGERHOST \
    --env=ASTMANAGERPORT \
    --env=AMPMGRUSER \
    --env=AMPMGRPASS \
    --env=LOCAL_IP \
    --env=RTPSTART \
    --env=RTPEND \
    --network=host \
    ${NETHVOICE_ASTERISK_IMAGE} \
    asterisk -f -C /etc/asterisk/asterisk.conf

# Wait till asterisk is active
ExecStartPost=podman exec asterisk bash -c "while [[ $$(/usr/sbin/asterisk -rx 'core show version' 2>/dev/null) != Asterisk* ]]; do ((++attempt<30)) || exit 2; sleep 1 ; done"

ExecStop=/usr/bin/podman run ${ASTERISK_IMAGE} /usr/sbin/asterisk -rx 'core stop now' -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/asterisk.ctr-id
ExecReload=/usr/bin/podman run /usr/sbin/asterisk -rx 'core reload'
PIDFile=%t/asterisk.pid
Type=forking

[Install]
WantedBy=default.target
