#
# This systemd unit starts a freepbx instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=FreePBX
Requires=asterisk.service,mariadb.service
After=asterisk.service,mariadb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/freepbx.pid %t/freepbx.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/freepbx.pid \
    --cidfile=%t/freepbx.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=spool:/var/spool/asterisk:z \
    --volume=asterisk:/etc/asterisk:z \
    --volume=nethcti:/etc/nethcti:z \
    --volume=./imageroot/volumes/var_lib_asterisk_sounds:/var/lib/asterisk/sounds:Z \
    --volume=./imageroot/volumes/var_lib_asterisk_agi-bin:/var/lib/asterisk/agi-bin:Z \
    --volume=./imageroot/volumes/usr_src_nethvoice_lookup.d:/usr/src/nethvoice/lookup.d:z \
    --env=MARIADB_ROOT_PASSWORD \
    --env=MARIADB_PORT \
    --env=APACHE_RUN_USER \
    --env=APACHE_RUN_GROUP \
    --env=ASTMANAGERHOST \
    --env=ASTMANAGERPORT \
    --env=AMPMGRUSER \
    --env=AMPMGRPASS \
    --env=AMPDBUSER \
    --env=AMPDBPASS \
    --env=AMPDBHOST \
    --env=AMPDBNAME \
    --env=CDRDBUSER \
    --env=CDRDBPASS \
    --env=CTIDBPASS \
    --env=APACHE_PORT \
    --env=APACHE_SSL_PORT \
    --env=NETHVOICESECRETKEY \
    --env=CTIDBPASS \
    --env=TANCREDIPORT \
    --env=BRAND_NAME \
    --env=BRAND_SITE \
    --env=BRAND_DOCS \
    --network=host \
    ${NETHVOICE_FREEPBX_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/freepbx.ctr-id
PIDFile=%t/freepbx.pid
Type=forking

[Install]
WantedBy=default.target
