[Unit]
Description=Rotate Asterisk full file into FreePBX container

[Service]
Type=simple
ExecStart=podman exec freepbx logrotate
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N

[Install]
WantedBy=multi-user.target
