#
# This systemd unit starts a nethvoice instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=nethvoice server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/nethvoice.pid %t/nethvoice.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/nethvoice.pid \
    --cidfile=%t/nethvoice.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --publish=127.0.0.1:${MARIADB_PORT}:3306 \
    ${MARIADB_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/nethvoice.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nethvoice.ctr-id
PIDFile=%t/nethvoice.pid
Type=forking

[Install]
WantedBy=default.target
