[Unit]
Description=Embedded Matrix Synapse
Requires=matrix-postgresql.service
After=matrix-postgresql.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
EnvironmentFile=%E/state/passwords.env
WorkingDirectory=%E/state
ExecCondition=runagent matrix-config enabled
Restart=always
TimeoutStartSec=240
TimeoutStopSec=70
ExecStartPre=runagent matrix-config generate
ExecStartPre=runagent matrix-config key
ExecStartPre=/bin/rm -f %t/matrix-synapse.pid %t/matrix-synapse.ctr-id
ExecStart=/usr/bin/podman run --detach --replace --name=%N \
    --conmon-pidfile=%t/matrix-synapse.pid --cidfile=%t/matrix-synapse.ctr-id \
    --cgroups=no-conmon --log-opt=tag=%u --network=host \
    --userns=keep-id:uid=991,gid=991 \
    --volume=matrix-synapse-data:/data:Z \
    --volume=%E/state/matrix/synapse:/data/config:ro,z \
    --env=SYNAPSE_CONFIG_PATH=/data/config/homeserver.yaml \
    ${NETHVOICE_MATRIX_SYNAPSE_IMAGE}
ExecStartPost=runagent matrix-config wait synapse
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/matrix-synapse.ctr-id -t 60
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile=%t/matrix-synapse.ctr-id
PIDFile=%t/matrix-synapse.pid
Type=forking

[Install]
WantedBy=default.target
