[Unit]
Description=Embedded Matrix PostgreSQL

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
WorkingDirectory=%E/state
ExecCondition=runagent matrix-config enabled
Restart=always
TimeoutStartSec=150
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/matrix-postgresql.pid %t/matrix-postgresql.ctr-id
ExecStart=/usr/bin/podman run --detach --replace --name=%N \
    --conmon-pidfile=%t/matrix-postgresql.pid --cidfile=%t/matrix-postgresql.ctr-id \
    --cgroups=no-conmon --log-opt=tag=%u \
    --publish=127.0.0.1:${MATRIX_POSTGRES_PORT}:5432 \
    --volume=matrix-postgresql-data:/var/lib/postgresql/data:Z \
    --env-file=%E/state/matrix/postgresql.env \
    --env=POSTGRES_USER=${MATRIX_POSTGRES_USER} \
    --env=POSTGRES_DB=${MATRIX_POSTGRES_DB} \
    "--env=POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C" \
    ${POSTGRES_IMAGE}
ExecStartPost=runagent matrix-config wait postgresql
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/matrix-postgresql.ctr-id -t 60
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile=%t/matrix-postgresql.ctr-id
PIDFile=%t/matrix-postgresql.pid
Type=forking

[Install]
WantedBy=default.target
