[Unit]
Description=Restart nethcti-ui to update timezone

[Service]
Type=oneshot
ExecStart=systemctl --user restart nethcti-ui.service
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N

[Install]
WantedBy=multi-user.target
