#
# This systemd unit starts a nethcti instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=NethCTI middleware daemon
After=nethcti-server.service mariadb.service
Requires=mariadb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
EnvironmentFile=%E/state/passwords.env
WorkingDirectory=%E/state
Restart=always
ExecStartPre=/bin/rm -f %t/nethcti-middleware.pid %t/nethcti-middleware.ctr-id
ExecStartPre=-runagent install-certificate nethcti-middleware

ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/nethcti-middleware.pid \
    --cidfile=%t/nethcti-middleware.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace \
    --name=%N \
    --volume=nethcti-middleware-audit:/var/log \
    --volume=nethcti-middleware-secrets:/var/lib/whale/secrets \
    --volume=nethcti:/etc/nethcti:z \
    --env-file=%E/state/passwords.env \
    --env=NETHVOICE_MIDDLEWARE_LISTEN_ADDRESS \
    --env=NETHVOICE_MIDDLEWARE_V1_API_ENDPOINT \
    --env=NETHVOICE_MIDDLEWARE_V1_WS_ENDPOINT \
    --env=NETHVOICE_MIDDLEWARE_V1_PROTOCOL \
    --env=SATELLITE_MQTT_HOST \
    --env=SATELLITE_MQTT_PORT \
    --env=SATELLITE_PGSQL_HOST \
    --env=SATELLITE_PGSQL_PORT \
    --env=NETHVOICE_MIDDLEWARE_MARIADB_PASSWORD=${MARIADB_ROOT_PASSWORD} \
    --env=NETHVOICE_MIDDLEWARE_MARIADB_PORT=${NETHVOICE_MARIADB_PORT} \
    --env=NETHVOICE_MIDDLEWARE_SSO_TRUSTED_SECRET=${NETHCTI_SSO_TRUSTED_SECRET} \
    --env=NETHVOICE_MIDDLEWARE_SSO_TOKEN_KEY=${NETHCTI_SSO_TOKEN_KEY} \
    --env=NETHVOICE_MIDDLEWARE_SSO_USER_HEADER=${NETHCTI_SSO_USER_HEADER} \
    --env=NETHVOICE_MIDDLEWARE_SSO_PROXY_SECRET=${NETHCTI_SSO_PROXY_SECRET} \
    --env=NETHVOICE_MIDDLEWARE_JWT_TIMEOUT_HOURS=${NETHCTI_SSO_JWT_TIMEOUT_HOURS} \
    --network=host \
    --tz=${TIMEZONE} \
    ${NETHVOICE_CTI_MIDDLEWARE_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nethcti-middleware.ctr-id
ExecReload=/usr/bin/curl -fsS --connect-timeout 1 --max-time 2 -X POST -H "Authorization: Bearer ${NETHVOICE_MIDDLEWARE_SUPER_ADMIN_TOKEN}" -H "Content-Type: application/json" http://127.0.0.1:${NETHVOICE_MIDDLEWARE_PORT}/admin/reload/profiles
PIDFile=%t/nethcti-middleware.pid
Type=forking

[Install]
WantedBy=default.target
