#
# This systemd unit starts a nethcti instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=NethCTI middleware daemon
Wants=nethcti-server.service
After=nethcti-server.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/nethcti-middleware.pid %t/nethcti-middleware.ctr-id
ExecStartPre=-runagent install-certificate nethcti-middleware

ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/nethcti-middleware.pid \
    --cidfile=%t/nethcti-middleware.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace \
    --name=%N \
    --volume=nethcti-middleware-audit:/var/log \
    --volume=nethcti-middleware-secrets:/var/lib/whale/secrets \
    --env-file=%S/state/passwords.env \
    --env=NETHVOICE_MIDDLEWARE_LISTEN_ADDRESS \
    --env=NETHVOICE_MIDDLEWARE_V1_API_ENDPOINT \
    --env=NETHVOICE_MIDDLEWARE_V1_WS_ENDPOINT \
    --env=NETHVOICE_MIDDLEWARE_V1_PROTOCOL \
    --env=SATELLITE_MQTT_HOST \
    --env=SATELLITE_MQTT_PORT \
    --env=SATELLITE_MQTT_USERNAME \
    --env=SATELLITE_MQTT_PASSWORD \
    --network=host \
    --tz=${TIMEZONE} \
    ${NETHVOICE_CTI_MIDDLEWARE_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nethcti-middleware.ctr-id
ExecReload=/usr/bin/podman exec nethcti-middleware node /app/nethcti-cli reload
PIDFile=%t/nethcti-middleware.pid
Type=forking

[Install]
WantedBy=default.target
