[Unit]
Description=Timer for phonebook source update

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=30m
FixedRandomDelay=true
Unit=phonebook-update.service

[Install]
WantedBy=timers.target
