[Unit]
Description=Retry built-in Agent configuration synchronization

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=satellite-agent-sync.service

[Install]
WantedBy=timers.target
