[Unit]
Description=Satellite call transcription for NethVoice
Requires=satellite-mqtt.service satellite-pgsql.service
After=satellite-mqtt.service satellite-pgsql.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/passwords.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/satellite.pid %t/satellite.ctr-id
ExecStart=runagent /usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/satellite.pid \
    --cidfile=%t/satellite.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env-file=%S/state/passwords.env \
    --env=ASTERISK_URL="http://127.0.1:${ASTERISK_WS_PORT}" \
    --env=ARI_APP=${SATELLITE_ARI_APP} \
    --env=ARI_USERNAME=${SATELLITE_ARI_USERNAME} \
    --env=RTP_PORT=${SATELLITE_RTP_PORT} \
    --env=MQTT_URL="mqtt://127.0.0.1:${SATELLITE_MQTT_PORT}" \
    --env=MQTT_TOPIC_PREFIX=satellite \
    --env=MQTT_USERNAME=${SATELLITE_MQTT_USERNAME} \
    --env=HTTP_PORT=${SATELLITE_HTTP_PORT} \
    --env=API_TOKEN=${SATELLITE_API_TOKEN} \
    --env=SATELLITE_ARI_PASSWORD=${SATELLITE_ARI_PASSWORD} \
    --env=SATELLITE_MQTT_PASSWORD=${SATELLITE_MQTT_PASSWORD} \
    --env=PGVECTOR_HOST=127.0.0.1 \
    --env=PGVECTOR_PORT=${SATELLITE_PGSQL_PORT} \
    --env=PGVECTOR_DATABASE=${SATELLITE_PGSQL_DB} \
    --env=PGVECTOR_USER=${SATELLITE_PGSQL_USER} \
    --env=PGVECTOR_PASSWORD=${SATELLITE_PGSQL_PASSWORD} \
    --tz=${TIMEZONE} \
    --network=host \
    ${NETHVOICE_SATELLITE_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/satellite.ctr-id
PIDFile=%t/satellite.pid
Type=forking

[Install]
WantedBy=default.target
