[Unit]
Description=Podman sftpgo.service
After=nginx.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/sftpgo.pid %t/sftpgo.ctr-id
ExecStartPre=runagent %S/bin/set-sftp-config
ExecStart=/usr/bin/podman run --conmon-pidfile %t/sftpgo.pid \
    --cidfile %t/sftpgo.ctr-id --cgroups=no-conmon \
    --replace \
    --detach \
    --name sftpgo \
    --volume moh:/srv/sftpgo/moh:z \
    --volume sftpgo_config:/var/lib/sftpgo:Z \
    --volume %S/state/sftpgo.conf.d/:/etc/sftpgo/:Z \
    ${SFTPGO_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/sftpgo.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/sftpgo.ctr-id
PIDFile=%t/sftpgo.pid
Type=forking

[Install]
WantedBy=default.target