<module>
  <rawname>satellite</rawname>
  <repo>unsupported</repo>
  <name>Satellite Module</name>
  <version>0.1.0</version>
  <category>Applications</category>
  <Publisher>Nethesis</Publisher>
  <menuitems>
    <satellite_agent_trunks>Agent Trunks</satellite_agent_trunks>
    <satellite_agents>Agents</satellite_agents>
    <satellite_webhooks>Webhooks</satellite_webhooks>
  </menuitems>
  <info></info>
  <license>GPLv3+</license>
  <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
<depends>
  <version>14</version>
</depends>
<supported>14.0</supported>
<methods>
    <get_config pri="480">satellite_get_config</get_config>
    <get_config pri="600">satellite_get_config_late</get_config>
</methods>
<description>Satellite transcription, TTS and voice agent integration</description>
<changelog></changelog>
</module>
