<module>
  <rawname>nethcti3</rawname>
  <repo>unsupported</repo>
  <name>NethCTI 3 Configuration Module</name>
  <version>1.5.1</version>
  <category>Applications</category>
  <Publisher>Nethesis</Publisher>
  <info></info>
  <licence>GPL</licence>
  <licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
<depends>
  <version>14</version>
</depends>
<supported>14.0</supported>
<methods>
    <get_config pri="10">nethcti3_get_config_early</get_config>
    <get_config pri="480">nethcti3_get_config</get_config>
    <get_config pri="600">nethcti3_get_config_late</get_config>
</methods>
<hooks>
    <userman class="Userman" namespace="FreePBX\modules">
        <method callingMethod="updateUser" class="Nethcti3" namespace="FreePBX\modules">usermanUpdateUser</method>
    </userman>
</hooks>
<description>Generate NethCTI 3 Configuration hooking apply config</description>
<changelog>
  *1.5.1* Synchronize Userman display names with linked extensions
</changelog>
</module>
